<%- include('header'); -%>
<table>
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Mobile Number</td>
        <td>Email Address</td>
    </tr>
    <tr>
        <td>Piya</td>
        <td>Al Majaz</td>
        <td>971566745632</td>
        <td>piya@gmail.com</td>
    </tr>
</table>
<%- include('footer'); -%>