<%- include('header'); -%> 
  <div class="content">
    <h2 id="welcome">xyz</h2> 
    <h2 id="welcome">ABC</h2>
    <h2 id="welcome">0566906453</h2>
    <h2 id="welcome"> abc@gmail.com</h2>
  </div>
<%- include('footer'); -%>