<%- include('header'); -%> 
  <div class="content">
    <h2 id="welcome">Enter your username:</h2> 
    <input id="welcome"></input>
    <h2 id="welcome">Enter your password:</h2>
    <input id="welcome"></input>
  </div>
<%- include('footer'); -%>