<%- include('header'); -%>
    <div align="center">
        <h1 style="font-style: 'Arial', Merlin, Times New Roman, Harrington, sans-serif;">Sign-In Complete</h1>
    </div>
<%- include('footer'); -%>