<%- include('header'); -%> 
  <div class="content">
    <h2 id="welcome">Username:</h2> 
    <input id="welcome"></div><input>
    <h2 id="welcome">Password:</h2>
    <input id="welcome"></div><input>
    <h2 id="welcome">Name:</h2>
    <input id="welcome"></div><input>
    <h2 id="welcome">Contact Number:</h2>
    <input id="welcome"></div><input>
    <h2 id="welcome">Address:</h2>
    <input id="welcome"></div><input>
  </div>
<%- include('footer'); -%>